<!DOCTYPE html>

<html>
<%- include('header') -%>

    <body>
          <% if (fruit == "citon") { %>
            <h1 style="color:yellow"><%= fruit %></h1>
          <% } else if (fruit == "pomme") { %>
             <h1 style="color:green"><%= fruit %></h1>
         <% } else { %>
              <h1 style="color:orange"><%= fruit %></h1>
          <% } %>
    </body>

<%- include('footer') -%>

</thml